:root {
 --white: hsl(0, 0%, 100%);
 --text: hsl(228, 12%, 48%);
 --pale: hsl(32, 37%, 92%);
 --red: hsl(1, 100%, 50%);
 --header-text: hsl(212, 21%, 14%);
}

* {
 margin: 0;
}

body{
  background-color: var(--pale);

}

#header-img {
 width: 60px;
 object: contain;
}

#nav-bar {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 position: fixed;
 width: 100%;
 top: 0;
 background-color: var(--white);
 padding: 10px;
}

.nav-links {
 display: flex;
 list-style: none;
}

.nav-links a {
 text-decoration: none;
 color: var(--text);
 padding: 0 10px; 
}

.logo-container {
 display: flex;
 align-items: center;
}

.the-product {
  font-size: 25px;
  margin-left: 10px;
  font-weight: 700;
  font-family: "montserrat";
}

#email-section {
  margin-top: 100px;
}

input {
  padding: 8px;
  border: 1px solid var(--red);
}

#submit {
  background-color: var(--red);
  color: var(--white);
  cursor: pointer; 
}

section::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

section {
  margin: 40px 20px;
  text-align: center;
}

h2{
  font-family: "fraunces";
  margin-bottom: 10px;
}

.icon {
  color: var(--red);
  margin-right: 30px;
}

#features {
  text-align: left;
  max-width: 800px;
  margin: auto;
}  
  
.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-family: "monserrat";
}

.product-image {
  width: 100%;
  margin: auto;
  height: 500px;
  border: 1px solid var(--text);
  border-radius: 10px 10px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.product1 {
  background-image: url(https://images.footballfanatics.com/formula-1-merchandise/formula-1-75-varsity-jacket_ss5_p-203082258+pv-1+u-e46rbrznsi8apeczl6wa+v-fciw5yjpuz3qnavib62n.jpg?_hv=2&w=1018);
}

.product2 {
  background-image: url(https://images.footballfanatics.com/formula-1-merchandise/formula-1-2026-calendar_ss5_p-203133101+pv-1+u-pjwisbn4v1uuhbsoqunt+v-dmujjtapwiky8y7bohbz.jpg?_hv=2&w=1018);
}

.product3 {
  background-image: url(https://images.footballfanatics.com/formula-1-merchandise/formula-1-japanese-grand-prix-2025-poster_ss5_p-203011437+pv-1+u-urx1xz09ikttj0lunf8y+v-wddozywyt1cqpsfdap10.jpg?_hv=2&w=1018);
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
}

.inner-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.content {
  font-family: "montserrat";
  color: var(--text);
  margin-bottom: 10px;
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.main-price {
  margin-right: 20px;
  font-size: 30px;
  font-family: "fraunces";
  color: var(--red);
}

.old-price {
  text-decoration: line-through;
  color: var(--text);
}

.team {
  font-family: "montserrat";
  letter-spacing: 5px;
  color: var(text);
  text-transform: uppercase;
}

.header {
  font-family: "fraunces";
  margin: 10px 0;
  color: var(--header-text);
}

.add {
  background-color: var(--red);
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 10px;
  width: 100%;
  color: var(--white);
  font-family: "montserrat";
  font-weight: 700;
  margin-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  #nav-bar {
    flex-direction: row;
  }
}

@media only screen and (450px < width 
< 600px) {
  .card {
    font-size: 0.85rem;
  }
  .product-image {
    height: 200px;
  }
}
@media only screen and (450px <= width 
< 600px) {
  .card {
    font-size: 0.85rem;
  }
  .product-image {
    height: 400px;
  }
}